<main>
    <section id='catalog-section' class='spaced'>

        <h1 class='item'>Closed Auctions</h1>

        <!-- List of closed auctions for the current user -->
        {{#if user.closedAuctions}}
        <ul class='catalog cards'>
            {{#each user.closedAuctions}}
            <li class='item'>
                <header class='pad-med'>
                    <h2>{{this.title}}</h2>
                </header>

                <div class='align-center'>

                    <img class='img-thumb' src='{{this.image}}' />

                </div>

                <footer class='align-center pad-med'>
                    <p>Closing price: <strong>${{this.price}}</strong></p>
                    from {{this.bidder.firstName}} {{this.bidder.lastName}}
                </footer>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <!-- If the current user doesn't have closed auctions -->
        <div class='item pad-large align-center'>
            <p>You haven't closed any auctions yet.</p>
        </div>
        {{/if}}
    </section>

</main>